{% extends "base.html" %}
{% load static %}

{% block title %}Repertuar{% endblock %}

{% block extra_head %}
<link href="{% static 'css/repertoire.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="entryFrame container">
</div>
<div class="container container-fluid empty-repertoire-error" style="width: 90vw">
	<h1 class="empty-repertoire-error content">Aktualnie nie ma żadnych dostępnych seansów!<br>Odwiedź naszą stronę później.</h1>
</div>


 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- bootstrap -->
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNoFllG6lCPzjxe02ySghBDEc90bxsAOo&callback=initMap"></script>
<!-- bootstrap -->
<script>
	function initMap() {
		const geocoder = new google.maps.Geocoder();
		const cinemas = JSON.parse('{{cinemasLocations|safe}}');
		cinemas.forEach(element => {
			if (element.fields.name == document.getElementById("cinemaSelector").value) {
				const latlng = { lat: parseFloat(element.fields.geolocation.split(",")[0]), lng: parseFloat(element.fields.geolocation.split(",")[1]) };
				geocoder
					.geocode({ location: latlng })
					.then((response) => {
						if (response.results[0]) {
							document.getElementById("header").title = response.results[0].formatted_address;
						}
					}).then (document.getElementById("header").style.setProperty("--padding-for-after", "5px"))
					.then(document.getElementById("header").style.setProperty("--padding-left", "15px"))
			
			}
		});
	}
</script>
<script src="{% static 'js/mainrepertoire.js' %}"></script>

{% endblock %}