.entryFrame {
    width: 100vw;
    height: 25vh;
    margin-bottom: -20vh;
    background-size: cover;
    background-position: center;
    
}
.cm {
    margin-top: 80px;
}
.blankRef {
    text-decoration: none;
    color: black;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  .mRight {
    transition: all 0.5s;
    position: relative;
    width: 10px;
    height: 30px;
    left: 95%;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-div {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
  }

  .btn-accept, .btn-back {
    transition: all 0.5s;
    margin: 30px 10px 0 0;
    border: 4px solid #c7c7c7;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;
    background: none;
    color: #c7c7c7;
    font-weight: bold;
    font-size: 15px;
	cursor: pointer;
	outline: inherit;
  }
  .btn-accept:hover {
      border-color: green;
      color: green;
  }
  .btn-back:hover {
    border-color: rgb(192, 74, 74);
    color: rgb(192, 74, 74);
}