.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
body{
    padding-top: 150px;
    background-color: #f5f6f7;
}
.div1 {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.btn-mgr {
    margin-top: 20px;
}
.div2{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    justify-content: space-around;
    height: 50vh;
    width: 20vw;
}
.div3{ 
    display: flex;
    padding: 50px;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    background-color: white;
    height: 50vh;
}
.errorlist li {
    padding: 0;
    margin: 0;
}
.errorlist {
    color:#cc0033;
    margin: 0;
    padding: 0;
    float:left;
    clear:both;
    padding-left:10px;
}
.inputP {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
  }
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}
.errorlist {
	list-style-type:none;
	padding-left: 0;
}
input[type = email], input[type = text], input[type = password] {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 0px;;
  }

@media (max-width: 960px) {
    .parent {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
    .div2, .div3 {
        border: none;
        width: 70vw;
        height: auto;
        padding: 20;
        margin: 0;
    }
    .div2 {
        padding-left: 30px;
        padding-right: 30px;
    }

}