/* top switching */
.switcher { 
    margin-top: 75px;
    margin-left: 200px;
    font-size: large;
    font-weight: bold;
    transition: all .2s ease-in-out; 
}

/* eotop switching */

/* hover growing */
.grow:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.item, .grow { transition: all .2s ease-in-out; }
.item:hover { transform: scale(1.1); }
/* eohover growing */

/* biblioteka filmów */
#biblioteka {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
#ranking {
    display: none;
    margin-left: 200px;
}

.libItem {
    border: solid lightgray 1px;
    width: 350px;
    height: 285px;
    margin: 30px;
    display: grid;
    box-shadow: lightgray 3px 3px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header rightbar"
    "main main main"
    "sidebar sidebar sidebar"
    "sidebar2 sidebar2 sidebar2"
    ;
    
}

.flexInside p:first-child {
    font-size: large;
    font-weight: bolder;
}
.flexInside {
    padding: 15px;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
}


.iGray {
    color: gray;
    left: 0;
    font-weight: normal;
}
.flexInside p {
    color: black;
}
.libItem img {
    height: 200px;
    width: 325px;
    object-fit: cover;
    float: left;
    
}
.libItem{ transition: all .2s ease-in-out; }
.libItem:hover { transform: scale(1.1); box-shadow: none;}

.title {
    grid-area: header;
}
.title span {
    font-weight: bold;
    font-size: 17px;
}
.image {
    grid-area: main;
}
.gatunek {
    grid-area: sidebar;
}
.time {
    grid-area: sidebar2;
}
.year {
    grid-area: rightbar;
    text-align: right;

}
/* eobiblioteka filmów */
