{% extends "base.html" %}
{% load static %}

{% block title %}Deaktywuj konto{% endblock %}

{% block extra_head %}
	<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="cm container">
  <p><a href ="{% url 'account:dashboard' %}" class = "blankRef">&#129044; Powrót do dashboard'u</a></p>
  <h1>Deaktywuj swoje konto</h1>
  <p>Użyj poniższego formularza, aby deaktywować konto:</p>
  {% if message %}
		<p style="color:red">{{ message }}</p>
	{% endif %}
  <form method="post" onChange ="checkTextField();" onload="checkTextField();">
    {{ form.as_p }}
    <p><input type ="button" id="myBtn" disabled value="Deaktywuj konto"></input></p>

	<div id="myModal" class="modal">
		<div class="modal-content">
		  <div class="close mRight">&times;</div>
		  <h4>Czy na pewno chcesz zmienić deaktywować swoje konto?</h4>
		  <div class = "btn-div">
			<span class = "btn-back close">Zamknij</span>
			<button class = "btn-accept">Potwierdź</button>
		  </div>
		</div>
	  </div>
    {% csrf_token %}
  </form>
</div>
<script>
var password = document.getElementById("id_password");

var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("close")[1];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
span2.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}	
function checkTextField() {
	if(password.value != '') {
		document.getElementById("myBtn").disabled = false;
	}
	else {
		document.getElementById("myBtn").disabled = true;
	}
}
window.onload = checkTextField();
</script>
{% endblock %}

